.welcome{
    font-family: 'Vina Sans', cursive;
    font-size: 150px;
    color: rgba(25,118,211,255);
}
.wtext{
    font-family: 'Caveat', cursive;
    font-size: 22px;
    font-weight: 600;
    color: rgba(25,118,211,255);
}